<!DOCTYPE html>
<html>
<head>
  <title>Chase Reckling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <div class="top_navbar">
      <div id="logo">
        <%= link_to root_path do %>
          Chase Reckling
        <% end %>
      </div>
    </div>
    <div class="bottom_navbar">
      <ul>
        <li class="category">Projects</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>

      <ul>
        <li class="category">Social</li>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Github</li>
        <li>Email</li>
      </ul>

      <div class="sign_in">Admin Login</div>
    </div>
  </div>
<%= yield %>

</body>
</html>
